*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: fantasy;
}

#page{
    display : none;
    margin-left: 420px;
    margin-top : 100px;
}

#image{
    display:block;
}

#text{
    margin-left:36px;
    font-weight: 1000;
    color:#fcba03;
    letter-spacing: 4px;
}

#game{

    color: #1e2f4a;
    background-color: skyblue;
    font-size: 50px;
    display : none;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 380px;
    box-shadow: none;
}
#game2{

    color: #1e2f4a;
    background-color: skyblue;
    font-size: 50px;
    display : none;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 450px;
}

td {
    position: relative;
    border-radius: 20px;
   
    

   
}

input[type="text" ], textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;
    background-color:  #4d4d4d;
    border-radius: 20px;
    border:3px solid black;
    font-size: 50px;
   /* for full width without spacing */
    width: 100%;
   /* content-visibility: visible; */
    
   
}


#sample{
    background-color: red;
}



 #player1{
    display:none;
    color: white;
    font-weight: 700;
    margin-left:280px;
    letter-spacing: 2px;
  
    
}


#player2{
    display:none;
    color:black;
    margin-left:280px;
    font-weight: 700;
    letter-spacing: 2px;
    
    
} 

#sorry1{
    display:none;
    margin-top:100px;
    color:white;
    font-weight: 700;

}

#sorry2{
    display:none;
    color:black;
    margin-top:100px;
    margin-left:850px;
    font-weight: 700;
}

#win1{
    display:none;
    margin-left:380px;
    color:green;
    font-weight: 1000;
}
#win2{
    display:none;
    margin-left:380px;
    color:green;
    font-weight: 1000;
}
 #draw{
    display:none  ;
    margin-left:475px;
    color:aquamarine;
    font-weight: 1000;
 }

 #resetA{
     display:none;
 }
 #resetB{
    display:none;
    margin-left:850px;
}


